<!DOCTYPE html>
<html lang="uk" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editing</title>
</head>
<body>
<h2>Departments info:</h2>
<br>
<form th:action="@{saveDepartment}" th:object="${department}">

    <input type="hidden" th:field="*{id}"/>

    <br>
    <label for="name">Назва --> </label>
    <input type="text" th:field="*{name}" id="name"/>

    <br><br>

    <label for="maxSalary">Максимальна запрлата --> </label>
    <input type="text" th:field="*{maxSalary}" id="maxSalary"/>

    <br><br>

    <label for="minSalary">Мінімальна зарплата --> </label>
    <input type="text" th:field="*{minSalary}" id="minSalary"/>

    <br><br>

    <input type="submit" value="Save"> <br>

</form>
</body>
</html>